* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAE9DF;
}


nav {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 4px solid #FFF3EE;
}


.logo img {
    width: 90%;
    padding-left: 50px;
}
.nav-menu {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    list-style: none;
    width: 600px;
}


.hambuger-menu {
    margin-top: -20px;
    width: 35px;
    height: 25px;
    cursor: pointer;
    display: none;
}

.hambuger-menu .bar {
    width: 100%;
    height: 4px;
    margin: 5px auto;
    background-color: #9E4021;
    border-radius: 10px;
}

.close-button {
    display: none;
    width: 45px;
    height: 35px;
    cursor: pointer;
    margin-left: 80%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.close-button .bar {
    width: 100%;
    height: 4px;
    margin: 5px auto;
    background-color: #9E4021;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    box-shadow: 1px 2px 8px #b1693d;
    transition: 1s;
}

a {
    text-decoration: none;
}

li {
    color: #9E4021;
    font-size: 18px;
    margin-top: 5px;
    transition: 90ms;

}

.navlink:hover, .active {
    cursor: pointer;
    padding-bottom: 1px;
    border-bottom: 2px solid #9E4021;
    text-decoration-color: #9E4021;
}

li:hover {
    cursor: pointer;
    padding-bottom: 1px;
    border-bottom: 2px solid #9E4021;
    text-decoration-color: #9E4021;
}


.nav-menu {
    border-bottom: none;
}

.cta-btn {
    padding: 7px;
    font-size: 18px;
    background-color: #9E4021;
    border: none;
    border-radius: 5px;
    color: #FFF3EE;
    letter-spacing: 1.5px;
    cursor: pointer;
}

/* Hero scetion */

.blog-hero {
    margin: 70px;
}

.blog-hero h1 {
    font-size: 50px;
    font-weight: 800;
    color: #833200;
}

.blog-hero h3 {
    font-size: 35px;
    font-weight: 600;
    color: #CA5C38;
    margin: 5px 0;
}

.blog-hero .author, a{
    color: #9E4021;
}

.blog-hero img {
    width: 100%;
    height: 700px;
    border-radius: 5px;
    margin-top: 15px;
}

audio {
    margin: 0 70px;
    width: 89%;
    border: 2px solid #9E4021;
    border-radius: 50px;
    color: #9E4021;
    margin-top: -20px;
}


audio::-webkit-media-controls-panel {
  background-color: #FAE9DF;
  color: #9E4021 !important;
}

audio::-webkit-media-controls-play-button {
  color: #9E4021 !important;
}

.blog-hero p {
    font-size: 25px;
    color: #fff;
    background-color: #9E4021;
    font-style: italic;
    width: 320px;
    padding-left: 15px;
    position: absolute;
    /* top: 20px; */
    border-bottom-left-radius: 5px;
    margin-top: -45px;
}

.blog-read p {
    font-size: 20px;
    font-weight: 400;
    color: #9E4021;
    margin: 25px 70px;
    /* margin-bottom: 15px; */
}

.blog-read h2 {
    margin-left: 70px;
    color: #833200;
    font-size: 35px;
    font-weight: 700;
}

.blog-read h3 {
    margin-left: 70px;
    color: #833200;
    font-size: 22px;
    font-weight: 600;
}

.blog-read img {
    width: 89.5%;
    height: 700px;
    border-radius: 5px;
    margin: 15px 70px;
}


.blog-read .credit {
    font-size: 25px;
    color: #fff;
    background-color: #9E4021;
    font-style: italic;
    width: 350px;
    padding-left: 15px;
    position: absolute;
    /* top: 20px; */
    margin-top: -60px;
    border-bottom-left-radius: 5px;
}

.share-icons {
  margin-left: 70px;

}

.share-icons i{
  font-size: 25px;
  margin-right: 20px;
  color: #833200;
}

/* comment section */

.comment-section {
    margin: 30px 0;
    background-color: #DDAA99;
    padding: 70px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.profile img {
    border-radius: 50%;
    box-shadow: 0.7px 1px 5px #361206;
}

.name p {
  color: #833200;
  font-size: 20px;
  font-weight: 700;
}

.name .date {
    color: #CA5C38;
}

.comment {
    margin-bottom: 30px;
}

.comment .text {
    margin: 10px 0 ;
    font-size: 20px;
    font-weight: 400;
    color: #833200;
    line-height: 35px;
}

form input {
    width: 80%;
    padding: 10px;
}

::placeholder {
    font-size: 18px;
    font-weight: 400;
    padding-left: 15px;
}

form button {
    background-color: #833200;
    color: #FAE9DF;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 10px 20px;
    border-top-right-radius:3px ;
    border-bottom-right-radius: 3px;
    margin-left: -5px;
}

/* Other post */
.other-blogpost {
    margin: 70px;
}

.other-blogpost h1{
    color: #833200;
    font-size: 30px;
    margin-bottom: 40px;
    
}

.others {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #DDAA99;
}

.other-blogpost .others:nth-child(4) {
    border-bottom: none;
    margin-bottom: 0px;
}

.others img {
    width: 15%;
}

.col2 p {
   font-size: 18px;
   font-weight: 400px;
   line-height: 35px;
   color: #833200;
}

.col2 a:hover {
    color: #772b11;
    transition: ease-in-out 0.5s;
}

#subscribe-section {
    width: 70%;
    margin: 50px auto;
    padding-top: 50px;
    
}

.subscribe-card {
    background-color: #DA9;
    color: #fff;
    padding: 50px 30px;
}

.subscribe h2 {
    margin-bottom: 15px;
    font-size: 25px;
}

.subscribe p {
    font-size: 20px;
    margin-bottom: 15px;
}

input  {
  width: 60%;
  padding: 8px;
  font-size: 18px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  border-radius: 3px;
}

#sub-btn {
    margin-top: 12px;
    
}

footer {
    background-color: #9E4021;
}
.footer-links {
    margin-top: 50px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #FFF3EE;
}

.footer-col1 {
    margin-left: 70px;
}

.footer-logo img{
    width: 10%;
    min-width: 200px;
    margin-top: 20px;
}

.about-links {
    width: 35%;
    /* min-width: 0px; */
    margin-top: 50px ;
    line-height: 40px;
}



.links {
    display: flex;
    justify-content: space-around;
    width: 70%;

}

.about-links a {
    color: #FFF3EE;
}

.mail-link {
    margin-top: 20px; 
    font-size: 15px;
}

.mail {
    color: #FFF3EE;
}

#programs-links {
    text-decoration: underline 0.1em rgba(14, 0, 0, 0);
    transition: text-decoration-color 300ms;

}

#programs-links:hover {
    text-decoration-color: #FFF3EE 
}

.rounded-icons {
    width: 30px;
    height: 30px;
    border: 1px solid #FFF3EE;
    display: inline-flex;
    color: #FFF3EE;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin-right: 0.5rem;
    margin-top: 15px;
}

#twitter-icon:hover {
    color: #1DA1F2;
    background-color: #fff;
    transition: 1s;
    border-color: white;
}

#youtube-icon:hover {
    color: #FF0000;
    background-color: #fff;
    transition: 1s;
}

#threads-icon:hover {
    color: white;
    background-color: black;
    transition: 1s;
    border-color: black;
}

#instagram-icon:hover {
    color: white;
    background-image: linear-gradient(to right, #feda75,  #ee2a7b,  #6228d7);
    transition: 1s;
    border: none;
}


.copyright {
    border-top: 2px solid #FFF3EE;
    margin-top: 20px;
}
.copyright-text {
    width: 260px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #FFF3EE;
    margin-top: 10px;
    padding-bottom: 10px;
}



/* MOBILE VIEW */
@media screen and (max-width: 767px){
    .logo img {
        width: 50%;
        padding-left: 10px;
    }

    .hambuger-menu {
        display: block;
    }

    nav {
        border-bottom: none;
        padding-left: 10px;
    }

    .nav-menu {
        display: block;
        position: fixed;
        padding-top: 10px;
        width: 100%;
        height: 100vh;
        font-weight: 600;
        line-height: 40px;
        background-color: #FAE9DF;
        left: 0%;
        text-align: center;
        top: 0%;
        font-size: 30px;
        transition: 1s;
    }

    .nav-menu.active {
        left: 100%;
    }

    .nav-menu a {
        margin-top: 50px;
    }

    .nav-menu .close-button {
        display: block;
    }

    .close-button .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .close-button .bar:nth-child(2) {
        opacity: 0;
    }

    .close-button .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    li:hover, .active {
        border-bottom: none;
    }

    .nav-menu button {
        display: none;
    }

    
    .blog-hero {
        margin: 20px;
    }

    .blog-hero h1 {
        font-size: 35px;
        width: 100%;
    }

    .blog-hero h3 {
        font-size: 20px;
    }

    .blog-hero img {
        width: 100%;
        height: auto;
    }

    audio {
        width: 90%;
        margin-top: 0;
        margin: 0 20px;
    }

    .blog-hero p {
        width: 50%;
        font-size: 15px;
        position: static;
        margin-top: -5px;
        border-bottom-left-radius: 0px;
    }

    .blog-read h2 {
        margin-left: 20px;
        font-size: 23px;
    }

    .blog-read h3 {
        margin-left: 20px;
        font-size: 20px;
    }

    .blog-read p {
        margin: 20px;
        font-size: 17px;

    }

    .blog-read img, .blog-read .credit {
        display: none;
    }
    
    .share-icons {
        margin-left: 20px;
    }
    .share-icons i{
        font-size: 18px;
        margin-right: 5px;
        cursor: pointer;
    }

    .comment-section {
        padding: 20px;
    }

    .comment .text {
        font-size: 17px;
        line-height: 25px;
    }

    /* .others img {
        display: none;
    } */

    .name p {
      font-size: 18px;
    }

    form input {
        padding: 5px;
        padding-left: 10px;
    }

    form button {
        font-size: 18px;
        padding:  5px 10px ;
    }

    ::placeholder {
        font-size: 15px;
        padding-left: 0px;
    }

    .other-blogpost {
        margin: 20px;
    }

    .other-blogpost h1 {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .others {
        display: block;
    }

    .others h2 {
        margin-top: 10px;
    }

    .others img {
        width: 50%; 
    }

    
    .others .top {
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .others .bottom {
        display: none;
    }

    .others p {
        font-size: 18px;
        line-height: 28px;
        margin-top: 10px;
    }


    #sec-4-text {
        margin: 0px;
        width: 100%;
        text-align: center;
    }

    .subscribe p {
        font-size: 17px;
        width: 100%;
    }

    #subscribe-section {
        width: 100%;
        margin-bottom: 0;
        margin-top: 0px;
    }

    input {
        width: 90%;
        padding: 8px;
        font-size: 18px;
    }

    

    #sub-btn {
        width: 90%;
    }


    .footer-links {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-top: 0;
        margin-left: 0;
        padding: 10px;
        width: 100%;
        min-width: 100px;
        gap: 0px;
        
    }

    .footer-col1 {
        width: 100%;
        line-height: 25px;
        margin: 20px;
    }

    .footer-logo img {
        width: 50%;
        min-width: 100px;
    }
    .links {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0px;
        width: 100%;
    }
    
    .about-links1 {
        margin-top: 50px;
        line-height: 25px;
        width: 100%;
    }

    .about-links a {
        font-size: 13px;
    }

    .about-links {
        width: 100%;
        line-height: 25px;
        margin-top: 25px;
    } 

    .about-links1 h2 {
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 1.4px;
    }

    .rounded-icons {
        width: 25px;
        height: 25px;
    }

    i{
        width: 18px;
        text-align: center;
    }

    .about-links h2 {
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 1.4px;
    }

    .mail-link {
        width: 50%;
        font-size: 12px;
    }
}