* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FAE9DF;
}


nav {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 4px solid #FFF3EE;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  list-style: none;
  width: 600px;
  
}

button:hover {
 cursor: pointer;
 box-shadow: 1px 2px 8px #b1693d;
 transition: 0.5s;
}

a {
  text-decoration: none;
}

li {
  color: #9E4021;
  font-size: 18px;
  margin-top: 5px;
  text-decoration: 0.1em rgba(14, 0, 0, 0);
  transition: 300ms;

}

li:hover, .active {
  cursor: pointer;
  padding-bottom: 1px;
  border-bottom: 2px solid #9E4021;
  text-decoration-color: #9E4021;
}

.hero {
  margin: 86px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.hero-intro {
  width: 50%;
}

.intro-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: #9E4021;
  font-size: 70px;
  width: 350px;
  height: 172px;
}

.hero-text {
  color: #9E4021;
  font-size: 20px;
  width: 604px;
  height: 180px;
  margin-top: 30px;
  line-height: 48px;
}

.cta-btn {
  padding: 7px;
  font-size: 18px;
  background-color: #9E4021;
  border: none;
  border-radius: 5px;
  color: #FFF3EE;
  letter-spacing: 1.5px;
}

.about {
  background-color: rgb(241, 207, 197);
  display: flex;
  gap: 15px;
  margin-left: 15%;
  padding: 70px;
  margin-top: 120px;
  margin-bottom: 80px;
}

.header2 {
  width: 343px;
  height: 88px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: #9E4021;
  font-size: 35px;
}

.col {
  width: 320px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
  padding: 15px 5px;

}

.col-image img{
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.col-text {
  color: #9E4021;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;  
}

.slide-show {
  display: flex;
}
.slide {
  width:1592px;
  height: 280px;
  background: rgb(241, 207, 197);;
  padding: 49px;
  display: flex;
  gap: 37%;
  
}

.header3 {
  color: #833200;;
  font-size: 35px;
  font-weight: 900;
  line-height: normal;
}

.our-reach {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFF3EE; 
  width: 181px;
  height: 63px;

}

.slide-info {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-text {
  height: 46px;
  width: 500px;
  font-weight: 700;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 10px;
  color: #833200;;
}

.slide-navigation-btn {
  position: absolute;
}

#radio {
  border: none;
}

.sce4 {
  margin: 100px 121px;
}

.sec4-intro-text {
  text-align: center;
}

.h2text {
  font-family: Poppins;
  font-size: 46px;
  font-weight: 700;
  cursor: pointer;
  color: #9E4021;
}

.sec-4-text {
  color: #9E4021;
  text-align: center;
  line-height: 40px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 104px;
}

.our-mission {
  display: flex;
  justify-content: space-between;
  height: 600px;
  margin: 30px 0;
  
}

.our-mission-text {
  margin-top: 20px;
  width: 500px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  color: #9E4021;;
}


.mission-img img {
  width: 500px;
  height: 550px;
  border-radius: 5px;
}

#cta-btn {
   text-align: center;
}

.subscribe-card {
  width: 70%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.10);  
  background-color: #DA9;
  line-height: 40px;
}

.subscribe {
  padding: 30px 20px 20px 50px;
  color: #FFF;
}

.subscribe-text {
  font-weight: 400;
  font-size: 18px;
}

#input-email {
  width: 500px;
  height: 35px;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #FFF;
}

input:focus {
  outline: none;
}

footer {
  background-color: #9E4021;
}
.footer-links {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  color: #FFF3EE;
}

.footer-logo img{
  width: 200px;
  margin-top: 20px;
}

.about-links {
  width: 350px;
  margin-top: 50px ;
  line-height: 40px;
}

.about-links a {
  color: #FFF3EE;
}

.mail-link {
  display: inline-flex;
  justify-items: center;
  gap: 10px;

}

.mail-link img {
  width: 20px;
  height: 15px;
}

.mail {
  margin-top: 7px;
}


#programs-links {
  text-decoration: underline 0.1em rgba(14, 0, 0, 0);
  transition: text-decoration-color 300ms;

}

#programs-links:hover {
  text-decoration-color: #FFF3EE 
}

.rounded-icons {
  width: 30px;
  height: 30px;
  border: 1px solid #FFF3EE;
  display: inline-flex;
  color: #FFF3EE;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 0.5rem;
}

#twitter-icon:hover {
  color: #1DA1F2;
  background-color: #fff;
  transition: 0.3s;
  border-color: white;
}

#youtube-icon:hover {
 color: #FF0000;
 background-color: #fff;
 transition: 0.3s;
}

#threads-icon:hover {
  color: white;
  background-color: black;
  transition: 0.3s;
  border-color: black;
}

#instagram-icon:hover {
  color: white;
  background-image: linear-gradient(to right, #feda75,  #ee2a7b,  #6228d7 );
  transition: 0.3s;
  border: none;
 }


.copyright {
  border-top: 2px solid #FFF3EE;
  margin-top: 20px;
}
.copyright-text {
  width: 260px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #FFF3EE;
  margin-top: 10px;
  padding-bottom: 10px;

}




